*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: sans-serif;
}
:root{
  --maincolor:orangered;
  --subcolor:#fff;
}
/* general */
.container{
  margin: auto;
  max-width: 1100px;
}
.primary{
  color: var(--maincolor);
}
.btn{
  display: inline-block;
  border:none;
  border-radius: 15px;
  padding: 15px 30px;
}
.btn-primary{
  color :var(--subcolor);
  border: 1px solid var(--subcolor);
  font-size: 20px; 
}
.btn-secndary{
   background-color:#383848;
margin-top: 2rem;
border: 1px solid var(--subcolor);
font-size: 20px; 
text-transform: capitalize;
color: #fff;
}
.btn-primary:hover,
.btn-secndary:hover{
  background-color :var(--maincolor) ;
}
/* header */
header{
  height: 100vh;
background-image:url(img/home_bg.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
#navbar img{
  width: 80px;
  margin-left: 80px;
}
#navbar{
  display: flex;
  justify-content:space-between;
  align-self: center;
  padding: 20px 0;
}
#navbar ul{
  display: flex;
  margin-right: 80px;
}
#navbar ul li a{
  padding: 20px 15px;
  color: #fff;
  font-weight: 600px;
}
#navbar ul li a:hover{
  border-bottom: 2px solid var(--maincolor);
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 75vh;
  text-align: center;
}
.contact h1{
  font-size: 40px;
  color:var(--subcolor);
}
.contact p{
  font-size: 20px;
  margin: 20px 0 45px;
  color: var(--subcolor);
}
header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.356);
}
header *{
  z-index: 10;
}
/* about */
#about{
  height: 80vh;
  display: flex;
  justify-content: center;
  justify-items: center;

}
.container .text-title{
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.container .text-title h2{
  font-size: 40px;
  font-weight: 600px;
  margin-bottom: 20px;
}
#offers .text-title{
  margin: 10px;
}
#offers .text-title h2{
  color: var(--subcolor);
  font-size: 40px;
  font-weight: 600px;
}
.container .text-title p 
,#offers .text-title p{
  color: #383848;
  font-size: 20px;
  font-weight: 600px;
}
#offers .text-title p{
  color: var(--maincolor);
  margin-bottom: 35px;
}
.container .content-about{
  display: flex;
  justify-content: space-between;
}
.container .content-about img{
  width: 450px;
}
.container .content-titel p{
  margin-right: 7rem;
  line-height: 1.6;
  font-weight:500px ;
  color: #383848;
}

/* offers */
#offers{
  height: 80vh;
  background-image: url(img/offer-background.jpg);
display: flex;
justify-content: center;
  background-size:cover ;
  text-align: center;
  margin-top: 125px;
}
#offers .offers-items{
  display: flex;
  justify-items: center;
  justify-content: center;
}
#offers .offers-items img{
  width: 200px;
}
#offers .offers-items{
  text-align: center;
  color: var(--subcolor);
  padding: 0 10px;
}
#offers .offers-items h3{
  margin: 10px;
  font-size: 18px;
}
#offers .offers-items p{
  padding: 0 10px;
  line-height: 1.6;
  font-size: 14px;
}
#offers .offers-items span{
  font-size: 20px; margin: 0 5px;
}

p del {
  text-decoration: line-through
}
/* 
menu */
#menus{
background-color: #F4FAF4;
}
#menus .text-title h2{
  color: var(--maincolor);
  padding-top: 30px;
}
.container .menu-items{
  display: flex;
  justify-content: center;
  justify-items: center;
  /* text-align: center; */
}
.menu-item img{
  width: 80px;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 20px;
}
.menu-item{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 40px;
}
.menu-item h3{
  color: #383848;
  padding-bottom: 10px;
  margin: 5px;
  border-bottom: 1px dashed var(--maincolor);
  font-weight: bold;
  position: relative;
}
.menu-item p{
  line-height: 1.6;
  font-size: 20px;
  font-weight: 500px;
}
.menu-item span{
  position: absolute;
  top: 0;
  right: 0;
}
#menus .btn{
  display: block;
  margin: 15px auto 0;
  background-color:#383848 ;
  color: var(--subcolor);
  cursor: pointer;
}
#menus .btn:hover{
  background-color: var(--maincolor);
}
/* daytimes */
#daytimes{
  background-image: url(img/daytime_bg.jpeg);
  background-size:cover;
  background-repeat: no-repeat; 
  margin-top: 50px;
  text-align: center;
}
.daytime-item{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  height: 40vh;
}
.daytime-items{
  margin-top: 50px;
  text-align: center;
}
.daytime-items h2{
  font-size: 32px;
  margin: 20px 0 10px;
  color: var(--subcolor);
}
.daytime-items p{
font-weight: 500px;
  font-size: 15px;
}

/* gallery */
#gallery{
  background-image: url(img/offer-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 0 6rem;
}
#gallery h2{
  color: var(--subcolor);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.gallery-img{
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery-img img{
  width: 280px;
  height: 200px;
  border-radius: 15px;
  margin: 20px;
  opacity: 0.8;
}
.gallery-img img:hover{
  opacity: 1;
}

/* contact */
#contacts{
  padding: 5rem 0;
  background-color: #F4FAF4;
}
#contacts .container{
  max-width: 900px;
}
.contact-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.info-contact{
  width: 50%;
}
.info-contact div{
  margin: 35px 0;
}
.info-contact h3{
  margin-bottom: 15px;
}
.info-contact p{
  color: #383848;
  font-size: 15px;
  line-height: 1.7;
}
.info-contact p i{
  color: var(--maincolor);
  margin-right: 5px;
  font-weight: 500px;
  font-size: 15px;
}
.info-contact a i{
  color: var(--maincolor);
  background-color: #383848;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
}
.info-contact a i:hover{
  color: #fff;
  background-color: var(--maincolor);
}
form{
  width: 50%;
}
form input , textarea{
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  background-color: #e3e2dd;
}
#contacts .btn{
  background-color: var(--maincolor);
  color: var(--subcolor);
  cursor: pointer;
}
#contacts .btn:hover{
  background-color: #383848;
}
/* footer */
#footer{
  background-color: #383848;
  padding: 15px 0;
  font-size: 18px;
  color: var(--subcolor);
  text-align: center;
}
#footer a{
  color: var(--subcolor);
  margin-left: 10px;
}
/* responsive */
/* medium screen + tablet */
@media (max-width:1000px){
  #navbar img{
    margin-left: 20px;
  }
  #navbar ul{
    margin-right: 20px;
  }
  #navbar ul li a{
    padding: 10px;
  }
  .contact h1{
    font-size: 28px;
  }
  #about{
    height:auto;
    padding: 4rem 2rem;
  }
  .container .content-titel p{
    margin-right: 2rem;
  }
  .container .content-about img{
    width: 250px;
  }
  #offers .offers-items img{
    width: 100px;
  }
  #offers .offers-items h3{
    font-size: 18px;
  }
  .container .menu-items{
    display: block;
  }
  #daytimes{
    padding-bottom: 3rem;
  }
  .contact-content{
    flex-direction: column;
  }
  /* mobile */
  @media (max-width:600px){
    #navbar{
      flex-direction: column;
    }
    #navbar img{
      /* margin-bottom: 200px; */
      margin:  10px auto 10px auto;
    }
    #navbar ul{
      display: flex;
      justify-items: center;
      justify-content: center;
    }
    .contact h1{
      font-size: 18px;  
    }
    .container .content-about{
      flex-direction: column;
    }
    .btn-secndary{
      margin: 2rem 0;
    }
    #offers{
      height: auto;
      padding: 30px 10px;
    }
    #offers .offers-items{
      flex-direction: column;
    }
    .menu-item{
      margin: 20px 10px;
    }
    .daytime-item{
      /* display: block; */
      flex-direction: column;
      height: auto;
      padding: 30px 0;
    }
    .info-contact,form{
      width: 80%;
    }
  }
}



